{% extends "base.html" %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <h1>Welcome to NHL Prospects</h1>
    <hr>
    <table>
        <tr>
            <th>Team</th>
            <th>Conference</th>
            <th>Division</th>
        </tr>
        {% for ent in entries %}
        <tr>
            <td><a href="{{ url_for('team_page', team=ent[0]) }}">{{ ent[0] }}</a></td>
            <td>{{ ent[1] }}</td>
            <td>{{ ent[2] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
