{% extends "base.html" %}

{% block app_content %}
<div>
<h1>{{ player }}</h1>
<h4 style="margin-bottom:-15px">Position: <span style="font-weight:normal">{{player_info[2]}}</span></h4>
<h4 style="margin-bottom:-15px">Height: <span style="font-weight:normal">{{player_info[3]}}</span></h4>
<h4 style="margin-bottom:-15px">Weight: <span style="font-weight:normal">{{player_info[4]}}</span></h4>
<h4 style="margin-bottom:-15px">Age: <span style="font-weight:normal">{{age}}</span></h4>
<h4 style="margin-bottom:-15px">DOB: <span style="font-weight:normal">{{player_info[5]}}</span></h4>
<h4>Born: <span style="font-weight:normal">{{player_info[6]}}</span></h4>
</div>

<div>
    <select class="dropdown" id="dd">
        <option value="" selected="selected" onchange="update_chart(this.value)">Select Season</option>
        {% for season in unique_season %}
            <option value= {{season}}>{{ season }}</option>
        {% endfor %}
    </select>
</div>

<div>
<canvas id="myCanvas" width="400" height="400"></canvas>
</div>

<div>
    {% if no_game_log_data %}
    <p>No game logs found for this player yet...please be patient</p>
    {% else %}
    <table id="game-log-table">
        <thead>
            <tr>
                <th>Season</th>
                <th>League</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Date</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Points</th>
                <th>SOG</th>
                <th>+/-</th>
                <th>PIM</th>
            </tr>
        </thead>
        <tbody>
            {% for game in game_log_data %}
            <tr>
                <td>{{ game[1] }}</td>
                <td>{{ game[3] }}</td>
                <td>{{ game[2] }}</td>
                <td>{{ opponent_all[loop.index - 1] }}</td>
                <td>{{ game[0] }}</td>
                <td>{{ game[5] }}</td>
                <td>{{ game[6] }}</td>
                <td>{{ game[7] }}</td>
                <td>{{ game[9] }}</td>
                <td>{{ game[10] }}</td>
                <td>{{ game[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!--This function updates myCanvas based on selected season from dropdown(id=dd)-->
<script>
    document.getElementById("dd").onchange = function(){update_chart()}
    function update_chart(){
        var selected_season = document.getElementById("dd").value;
        var data = '{{ data_dict|tojson }}'
        var jsonData = JSON.parse(data)
        var goals = jsonData[selected_season]["Goals"]
        var assists = jsonData[selected_season]["Assists"]
        var points = jsonData[selected_season]["Points"]
        var dates = jsonData[selected_season]["Dates"]
        var chart = new Chart(document.getElementById("myCanvas"), {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    data: goals,
                    label: "Goals",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: assists,
                    label: "Assists",
                    borderColor: "#8e5ea2",
                    fill: false
                }, {
                    data: points,
                    label: "Points",
                    borderColor: "#3cba9f",
                    fill: false
                }]},
            options: {
                title: {
                display: true,
                text: selected_season + ': Cumulative Season Totals'
                },
                hover: {
                mode: 'index',
                intersect: true
                },}
            });
    }
</script>
{% endblock javascripts %}

{% endblock %}